name: Dead code analysis
on: [push, pull_request, workflow_dispatch]
jobs:
  deadnix:
    name: Deadnix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: deadnix
      - uses: astro/deadnix-action@main
        with:
          commit_message: "chore: remove dead code"
