on: [push, pull_request, workflow_dispatch]
name: Lint Nix code
jobs:
  statix:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: statix
      - uses: jocelynthode/statix-action@master
